<div class="jumbotron">
  <h2><%= gettext "Welcome to Awesome Elixir!" %></h2>
</div>

<%= for category <- @categories do %>
  <p><%= link(category.name, to: "#" <> Macro.underscore(category.name)) %></p>
<% end %>

<%= for category <- @categories do %>
  <h2 id="<%= Macro.underscore(category.name) %>"><%= category.name %></h2>
  <% category_applications = Enum.filter(@applications, fn(application) -> application.category_id == category.id end) %>

  <%= for application <- category_applications do %>
    <p>
      <%= link(application.name, to: application.url) %>
      &nbsp;⭐ <%= application.stars %>
      &nbsp;📅 <%= application.days_after_last_commit %>
      &nbsp;-&nbsp;<span><%= application.description %></span></p>
  <% end %>
<% end %>